.env*
.editorconfig

web/static/uploads/*
!web/static/uploads/.keep
web/static/qrcodes/*
!web/static/qrcodes/.keep

dist/
bin/
qrcatalog

sql/data_bk.sql
sql/eventkinds.sql

node_modules
.DS_Store
dist
dist-ssr
*.local
.nitro
.tanstack
